<div>
  <h1>Pantalla para modificar Producto</h1>

  <form [formGroup]="formProducto">
      <div class="formulario" *ngFor="let elemento of lstDatos">
        <div class="card_global" *ngFor="let dato of productos">
          <div class="div_cards">
            <div class="divCenter">
              <div class="divCenter2">
                <div class="cards-superiores">
                  <!--Card Nombre-->
                  <div class="card ">
                    <div class="div_titulo">
                      <p>{{elemento.dato1}}</p>
                    </div>
                    <div class="div_info">
                      <input type="text" formControlName="nombreProductos" (input)="validarSoloLetras($event)"  />
                    </div>
                  </div>
                  <!--Card Descripcion-->
                  <div class="card ">
                    <div class="div_titulo">
                      <p>{{elemento.dato2}}</p>
                    </div>
                    <div class="div_info">
                      <input type="text" formControlName="descripcion" (input)="validarSoloLetras($event)" />
                    </div>
                  </div>
                  <!--Card precio-->
                  <div class="card ">
                    <div class="div_titulo">
                      <p class="p">{{elemento.dato3}}</p>
                    </div>
                    <div class="div_info">
                      <input formControlName="precio" (input)="validarSoloDigitos($event)" />
                    </div>
                  </div>
                </div>
                <div class="cards-superiores">
                  <!--Card Existencia-->
                  <div class="card">
                    <div class="div_titulo">
                      <p class="p">{{ elemento.dato4 }}</p>
                    </div>
                    <div class="div_info">
                      <input type="text" formControlName="existencia" (input)="validarSoloDigitos($event)" />
                    </div>
                  </div>
                  <!--Card Tipo de Producto-->
                  <div class="card tipoProducto">
                    <div class="div_titulo">
                      <p class="p">{{ elemento.dato5 }}</p>
                    </div>
                    <div class="div_info">
                      <!--<input type="text" formControlName="tipoProducto_Id" />-->
                      <select formControlName="tipoProducto_Id" class="form-select input" id="inputGroupSelect01" (change)="seleccionarTipoProducto($event)">
                        <option *ngFor="let elemento of tipoProductoId" value="{{elemento.tipoProducto_Id}}">{{elemento.tipoProducto_Id}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="card tipoProducto">
                    <div class="div_titulo">
                      <p class="p">{{elemento.dato6}}</p>
                    </div>
                    <div class="div_info" *ngFor="let elemento of nombreTipoProducto">
                      <input class="input" type="text" readonly id="nombreTipoProductoInput" value="{{elemento.nombreTipoProducto}}" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="buttonGeneral">
                <div class="div_button">
                  <div class="div_center">
                    <button class="btn_registrar" (click)="modificarProducto(formProducto)" type="submit">Modificar Producto</button>
                    <button style="margin-left: 10px" class="btn_registrar" [routerLink]="['/modificar']" type="button">Regresar</button>
                  </div>
                </div>
              </div>

            </div>
            </div>
          </div>
      </div>
</form>

</div>
