<header>
  <div class="container block">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

      <div class="col-3">
        <div class="col-2" style="display:inline-block">
        </div>
        <div class="col-3 cardInicio">
          <a class="navbar-brand opciones inicio">asdadsa</a>
        </div>
      </div>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item opciones">
            <a class="nav-link text-dark">asds</a>
          </li>
          <li class="nav-item opciones">
            <a class="nav-link text-dark" id="agregar">asdasd</a>
          </li>
          <li class="nav-item opciones">
            <a class="nav-link text-dark">Modificar o asdasd</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!--routerLink="'/inicio'"<-->
  <!--routerLink="'/obtener'"<-->
  <!--<div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item opciones"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Obtener</a>
          </li>
          <li class="nav-item opciones" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/agregar']" id="agregar">Agregar</a>
          </li>
          <li class="nav-item opciones" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/modificar']">Modificar o Eliminar</a>
          </li>
        </ul>
      </div><-->
</header>
