<h1 id="tableLabel">Modificar o Eliminar</h1>

<div style="margin-bottom: 20px">
  <p>Buscar por:</p>
  <div class="busqueda">
    <span>ID:</span>
    <input type="text" [(ngModel)]="busquedaId" placeholder="Buscar por Id" (input)="buscarEnTiempoReal(); validarSoloDigitos($event)">
  </div>
  <div class="busqueda" style="margin-left: 10px">
    <span>Nombre:</span>
    <input type="text" [(ngModel)]="busquedaNombre" placeholder="Buscar por Nombre" (input)="buscarEnTiempoReal(); validarSoloLetras($event)">
  </div>
</div>

<table class="tabla">
  <thead >
    <tr class="encabezados">
      <th class="caja"><span>Id_productos</span></th>
      <th class="caja"><span>Nombre_Producto</span></th>
      <th class="caja"><span>Tipo_Producto</span></th>
      <th class="caja"><span>Descripcion</span></th>
      <th class="caja"><span>precio</span></th>
      <th class="caja"><span>Existencia</span></th>
      <th class="caja"><span>Acción</span></th>
    </tr>
  </thead>
  <tbody *ngFor="let elemento of productos">
    <tr class="subEncabezados">
      <th class="caja"><span class="infotabla">{{elemento.idProductos}}</span></th>
      <th class="caja"><span class="infotabla">{{elemento.nombreProductos}}</span></th>
      <th class="caja"><span class="infotabla">{{elemento.tipoProducto_Id}}</span></th>
      <th class="caja"><span class="infotabla">Material</span></th>
      <th class="caja"><span class="infotabla">{{elemento.descripcion}}</span></th>
      <th class="caja"><span class="infotabla">{{elemento.existencia}}</span></th>
      <th class="cajaMod">
        <div class="divContendo">
          <div class="btnModificar">
            <button class="btnglobal" [routerLink]="['/modificarProducto', elemento.idProductos]" id="miBoton">Modificar</button>
          </div>
          <div class="btnEliminar">
            <button class="btnglobal" (click)="eliminarProducto(elemento.idProductos)">Eliminar</button>
          </div>
        </div>
      </th>
    </tr>
  </tbody>
</table>

