<h1 id="tableLabel">Modificar o Eliminar</h1>

<table class="tabla">
  <thead>
    <tr class="encabezados">
      <th class="caja"><span>Id_Producto</span></th>
      <th class="caja"><span>Nombre_Producto</span></th>
      <th class="caja"><span>Tipo_Producto</span></th>
      <th class="caja"><span>Descripcion</span></th>
      <th class="caja"><span>Existencia</span></th>
      <th class="caja"><span>Acción</span></th>
    </tr>
  </thead>
  <tbody>
    <tr class="subEncabezados">
      <th class="caja"><span class="infotabla">1</span></th>
      <th class="caja"><span class="infotabla">Escoba</span></th>
      <th class="caja"><span class="infotabla">Material</span></th>
      <th class="caja"><span class="infotabla">Escoba de madera moderna</span></th>
      <th class="caja"><span class="infotabla">2</span></th>
      <th class="cajaMod">
        <div class="divContendo">
          <div class="btnModificar">
            <button class="btnglobal">Modificar</button>
          </div>
          <div class="btnEliminar">
            <button class="btnglobal">Eliminar</button>
          </div>
        </div>
      </th>

    </tr>
    <tr class="subEncabezados">
      <th class="caja"><span class="infotabla">1</span></th>
      <th class="caja"><span class="infotabla">Escoba</span></th>
      <th class="caja"><span class="infotabla">Material</span></th>
      <th class="caja"><span class="infotabla">Escoba de madera moderna</span></th>
      <th class="caja"><span class="infotabla">2</span></th>
      <th class="cajaMod">
        <div class="divContendo">
          <div class="btnModificar">
            <button class="btnglobal">Modificar</button>
          </div>
          <div class="btnEliminar">
            <button class="btnglobal">Eliminar</button>
          </div>
        </div>
      </th>
    </tr>
    <tr class="subEncabezados">
      <th class="caja"><span class="infotabla">1</span></th>
      <th class="caja"><span class="infotabla">Escoba</span></th>
      <th class="caja"><span class="infotabla">Material</span></th>
      <th class="caja"><span class="infotabla">Escoba de madera moderna</span></th>
      <th class="caja"><span class="infotabla">2</span></th>
      <th class="cajaMod">
        <div class="divContendo">
          <div class="btnModificar">
            <button class="btnglobal">Modificar</button>
          </div>
          <div class="btnEliminar">
            <button class="btnglobal">Eliminar</button>
          </div>
        </div>
      </th>
    </tr>
  </tbody>
</table>

