<h1>Agregar Articulos</h1>

<form [formGroup]="formProducto" *ngFor="let elemento of lstDatos">
  <div class="formulario">
    <div class="card_global">
      <div class="div_cards">
        <!--Card Nombre-->
        <div class="card ">
          <div class="div_titulo">
            <p>{{ elemento.dato1 }}</p>
          </div>
          <div class="div_info">
            <input type="text" formControlName="nombreProductos" (input)="validarSoloLetras($event)" placeholder="{{ elemento.input1 }}" />
          </div>
        </div>
        <!--Card Descripcion-->
        <div class="card ">
          <div class="div_titulo">
            <p>{{ elemento.dato2 }}</p>
          </div>
          <div class="div_info">
            <input type="text" formControlName="descripcion" (input)="validarSoloLetras($event)" placeholder="{{ elemento.input2 }}" />
          </div>
        </div>
        <!--Card precio-->
        <div class="card ">
          <div class="div_titulo">
            <p class="p">{{ elemento.dato3 }}</p>
          </div>
          <div class="div_info">
            <input formControlName="precio" (input)="validarSoloDigitos($event)" placeholder="{{ elemento.input3 }}" />
          </div>
        </div>
        <!--Card Existencia-->
        <div class="card">
          <div class="div_titulo">
            <p class="p">{{ elemento.dato4 }}</p>
          </div>
          <div class="div_info">
            <input type="text" formControlName="existencia" (input)="validarSoloDigitos($event)" placeholder="{{ elemento.input4 }}" />
          </div>
        </div>
        <!--Card Tipo de Producto-->
        <div class="card tipoProducto">
          <div class="div_titulo">
            <p class="p">{{ elemento.dato5 }}</p>
          </div>
          <div class="div_info">
            <select formControlName="tipoProducto_Id" class="form-select input" id="inputGroupSelect01" (change)="seleccionarTipoProducto($event)">
              <option *ngFor="let elemento of tipoProductoId"  value="{{elemento.tipoProducto_Id}}">{{elemento.tipoProducto_Id}}</option>
            </select>
          </div>
        </div>
        <div class="card">
          <div class="div_titulo">
            <p class="p">Nombre Tipo Prod</p>
          </div>
          <div class="div_info" *ngFor="let elemento of nombreTipoProducto">
            <input type="text" readonly id="nombreTipoProductoInput" value="{{elemento.nombreTipoProducto}}" />
          </div>
        </div>
      </div>
      <div class="div_button">
        <div class="div_center">
          <button class="btn_registrar" (click)="enviarDatos(formProducto)" type="submit">Registrar Producto</button>
        </div>
        <div class="div_limpiar">
          <button class="btn_limpiar" style="margin-left: 8px;" (click)="resetnombreTipoProd(formProducto)" type="button">Limpiar</button>
        </div>
      </div>
    </div>
  </div>
</form>
