body {
  flex-direction: row;
}

.card_global {
  width: 98%;
  height: 243px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 4px;
  background-color: rgb(230, 163, 88, 0.44);
}

.div_cards {
  display: flex;
}

.card {
  width: 18.5%;
  height: 110px;
  margin-left: 8px;
  margin-top: 20px;
  border: 2px solid rgb(42, 0, 255, 0.57);
  background-color: rgb(255, 106, 0, 0.05)
}

p {
  font-weight: bold;
}

input {
  width: 95%;
  color: black;
  font-weight: bold;
  border: 3px solid rgb(42, 0, 255, 0.57);
  background-color: rgb(255, 106, 0, 0.05);
  border-radius: 5px;
  margin-top: 10px;
}

.input {
  width: 80%;
  height: 35px;
  color: black;
  font-weight: bold;
  border: 3px solid rgb(42, 0, 255, 0.57);
  background-color: rgb(255, 106, 0, 0.05);
  border-radius: 5px;
  margin-top: 7px;
  margin-left: 10px;
}

  input::placeholder {
    color: rgb(42, 0, 255, 0.57);
  }

.div_button {
  margin-left: 8px;
  height: 110px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.btn_registrar, .btn_limpiar {
  border: 3px solid rgb(42, 0, 255, 0.57);
  background-color: rgb(255, 106, 0, 0.05);
  border-radius: 5px;
  font-weight: bold;
  color: rgb(42, 0, 255, 0.57);
}

.tipoProducto2 {
  visibility: collapse;
}

.div2 {
  display: none;
}

button:hover {
  background-color: rgb(0, 201, 207, 0.58);
}
@media screen and (max-width: 60px) {
  .formulario{
      align-items:center;
      align-content: center;
      justify-content:center;
  }

  .card_global {
    width: 80%;
  }
  .div_cards {
    border: 1px solid red;
  }

  .card_global {
    height: 350px;
  }
  .tipoProducto2 {
      visibility: revert;
  }

  .div2 {
    border: 1px solid green;
    height: 130px;
    display: block;
  }

  tipoProducto2 {
    display: block;
  }

  .tipoProducto {
    display: none;
  }
}
