:host {
    max-width: 1200px;
    padding: 2rem;
    text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}




.select#obtener:active,
.select#agregar:active,
.select#modificar:active,
#carrito:active {
  background-color: #ff6a00
}
